# Secrets & environment variables
.env
.env.*
secret_key.txt

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Django database files
*.sqlite3
db.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE/project files
.vscode/
.idea/

# macOS system files
.DS_Store

# Celery scheduler files
celerybeat-schedule

# Backup folders
frontend_backup_20250725/

# Logs and coverage data
*.log
htmlcov/
.coverage

# Frontend dependencies and build folders
node_modules/
build/
dist/

# Frontend environment files
.env.local
.env.development.local
.env.production.local
.env.test.local
