/* src/App.css */
/* This CSS file is intentionally minimal.
   Styling for this application relies primarily on Chakra UI props and themes.
*/

/* Global resets */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Fallback to sans-serif */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
